@model Recommender2.ViewModels.MiningViewModel
<h2>Mine rules in @Model.Name</h2>
<p>
    @using (Html.BeginForm("MineRules", "MinedResults", null, FormMethod.Post))
    {
        @Html.HiddenFor(m => Model.Id)
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.TaskName)
                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BaseQ) <a href="#" data-toggle="tooltip" title="Minimal amount of data rows to support the hypothesis in %."><img src="~/Content/images/ot.png" height="15"></a>
                @Html.TextBoxFor(m => m.BaseQ, new { @class = "form-control", @type = "number", value="1" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Lift) <a href="#" data-toggle="tooltip" title="How much stronger should the found hypothesis be in comparison to the whole dataset average?"><img src="~/Content/images/ot.png" height="15"></a>
                @Html.TextBoxFor(m => m.Lift, new { @class = "form-control", @type = "number", value = "2" })
            </div>
            <div class="form-group">
                <label>Define commensurability levels <a href="#" data-toggle="tooltip" title="Recommender will look for hypothesis inside data subsets, defined by these levels."><img src="~/Content/images/ot.png" height="15"></a></label><br />
                @for (var i = 0; i < Model.CommensurabilityList.Count; i++)
                {
                    @Html.CheckBoxFor(m => m.CommensurabilityList[i].Checked)
                    @Html.HiddenFor(m => m.CommensurabilityList[i].Dimension.Id)
                    @Html.DisplayFor(m => m.CommensurabilityList[i].Dimension.Name)
                    <br/>
                }
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.ConditionRequired)
                Require mining only on subsets, defined by commensurability levels <br/>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Mine rules" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
    </p>



