@using Recommender.Common.Enums
@model Recommender.Web.ViewModels.DatasetViewModel
@{
    ViewBag.Title = "Mined rules";
}

<h2>Data sets</h2>
<p style="color: green">@Model.Notification</p>
<table class="table, table-bordered">
    <tr><th>Name</th><th>Action</th><th>Task</th><th>State</th><th>Action</th></tr>
        @foreach (var dataset in Model.Datasets.Where(d => d.State >= State.DimensionsAndMeasuresSet))
        {
            var taskCount = dataset.MiningTasks.Count;
            <tr>
                <td rowspan="@taskCount">@Html.ActionLink(dataset.Name, "Details", "BrowseCube", new { id = dataset.Id }, null)</td>
                <td rowspan="@taskCount">@Html.ActionLink("Mine rules", "Mine", new { id = dataset.Id })</td>
                <td>
                    @if (taskCount > 0)
                    {
                        @Html.ActionLink(dataset.MiningTasks[0].Name, "Details", "MinedResults", new { id = dataset.MiningTasks[0].Id }, null);
                    }
                </td>
                <td>
                    @if (taskCount > 0)
                    {
                        <span style="color: @dataset.MiningTasks[0].TaskState.GetColor();">@dataset.MiningTasks[0].TaskState.ToUserFriendlyString()</span>
                    }
                </td>
                <td>
                    @if (taskCount > 0)
                    {
                        @Html.ActionLink("Delete task", "Delete", "MinedResults", new { id = dataset.MiningTasks[0].Id }, new { onclick = "return confirm('Are you sure you wish to delete this task and its results?');" });
                    }
                </td>
            </tr>
            
            if (taskCount > 1)
            {
                for (var i = 1; i < taskCount; i++)
                {
                    <tr>
                        <td>@Html.ActionLink(dataset.MiningTasks[i].Name, "Details", "MinedResults", new { id = dataset.MiningTasks[i].Id }, null)</td>
                        <td style="color: @dataset.MiningTasks[i].TaskState.GetColor();">@dataset.MiningTasks[i].TaskState.ToUserFriendlyString()</td>
                        <td>@Html.ActionLink("Delete task", "Delete", "MinedResults", new { id = dataset.MiningTasks[i].Id }, null)</td>
                    </tr>
                }
            }
    }

</table>
