@using System.Diagnostics.Eventing.Reader
@using Recommender.Common.Enums
@using Recommender.Common.Helpers
@model Recommender2.ViewModels.DatasetViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Data sets</h2>

<table class="table, table-bordered">
    <tr><th>Name</th><th>State</th><th>File</th><th>Dimensions</th><th>Measures</th></tr>
    @foreach (var dataset in Model.Datasets.Where(d => d.State >= State.DimensionsAndMeasuresSet))
    {
        <tr>
            <td class="col-md-3">@Html.ActionLink(dataset.Name, "Details", new { id = dataset.Id })</td>
            <td>Dimensions and measures defined</td>
            
                @if (dataset.KeepFilePrivate)
                {
                    <td class="col-md-3">@dataset.FileName (private file)</td>
                }
                else
                {
                    <td class="col-md-3">@Html.ActionLink(dataset.FileName, "Download", new { file = dataset.FilePath })</td>
                }

            <td class="col-md-3">
                <ul>
                    @foreach (var dimension in dataset.Dimensions)
                    {
                        <li>@dimension.Name ( @dimension.Type.ToUserFriendlyName()) )</li>
                    }
                </ul >
            </td>
            <td class="col-md-3">
                <ul>
                    @foreach (var measure in dataset.Measures)
                    {
                        <li>@measure.Name ( @measure.Type.ToUserFriendlyName()) )</li>
                    }
                </ul>
            </td>
        </tr>
    }
    @foreach (var dataset in Model.Datasets.Where(d => d.State < State.DimensionsAndMeasuresSet))
    {
        <tr>
            <td class="col-md-3">@dataset.Name</td>
            <td>@Html.ActionLink("Define dimensions and measures", "DefineDimensions", "Upload", new { id = dataset.Id }, null)</td>
            <td class="col-md-3">@Html.ActionLink(dataset.FileName, "Download", new { file = dataset.FilePath })</td>
            <td class="col-md-3">
            </td>
            <td class="col-md-3">
            </td>
        </tr>
    }
</table>



